{% extends "base_programme.html" %}
{% load url from future %}
{% load crispy_forms_tags %}

{% block tophead %}Make a pledge{% endblock %}

{% block content %}

<script src="{{ STATIC_URL }}js/jquery.jqEasyCharCounter.min.js"></script>


<style>
input#id_text {width: 35%; min-width: 20em;}
input#id_contact {width: 35%; min-width: 20em;}
input#id_handle {width: 35%; min-width: 20em;}
</style>

<h1>Pledge for FOSS4G</h1>
<p>FOSS4G pledges are a great way to show your support for FOSS4G and OSGeo. Pledge to help,
pledge to support, pledge to create, pledge to inform and entertain.</p>
<p>There will be special prizes at the closing plenary for the greatest pledges ever made. Leave a name,
email, or twitter handle in the contact field if you want to be considered for this. Otherwise 
pledges are anonymous, but will be checked and possibly edited and censored before <a href="./">publication</a>.</p>
<div class="well">
<h2>Start your pledge with "I pledge to" or "We pledge to"</h2>
{% crispy form helper %}
</div>
<script>
$( window ).load(function() {
$("#id_text").jqEasyCounter();
$("#id_handle").jqEasyCounter({'maxChars': 50, 'maxCharsWarning': 40});
$("#id_contact").jqEasyCounter({'maxChars': 50, 'maxCharsWarning': 40});

});
</script>

{% endblock %}
