{% extends "base_programme.html" %}
{% load url from future %}
{% load crispy_forms_tags %}

{% block content %}

<script src="{{ STATIC_URL }}js/jquery.jqEasyCharCounter.min.js"></script>


<style>
input#id_text {width: 35%; min-width: 20em;}
input#id_contact {width: 35%; min-width: 20em;}
input#id_handle {width: 35%; min-width: 20em;}
</style>

<h1>Pledge for FOSS4G</h1>
<p>Enter your pledge here. Start it with "I pledge to" or "We pledge to". You have 100 characters.</p>
<p>Pledges will be vetted, edited, censored.</p>
<p>Enter a contact (name, twitter, email) where we can get you if you want to be subject to rewards or 
repercussions. Or just leave a nickname for display with your pledge.</p>
<div class="well">
{% crispy form helper %}
</div>
<script>
$( window ).load(function() {
$("#id_text").jqEasyCounter();
$("#id_handle").jqEasyCounter({'maxChars': 50, 'maxCharsWarning': 40});
$("#id_contact").jqEasyCounter({'maxChars': 50, 'maxCharsWarning': 40});

});
</script>

{% endblock %}
