{% extends "base_programme.html" %}
{% load url from future %}
{% load likes_inclusion_tags %}



{% block content %}
<!--link href='http://fonts.googleapis.com/css?family=Meddon' rel='stylesheet' type='text/css'-->
<!--link href='http://fonts.googleapis.com/css?family=Allura' rel='stylesheet' type='text/css'-->
<link href='http://fonts.googleapis.com/css?family=Montez' rel='stylesheet' type='text/css'>
<style>
div.pledge {background-color: #fec; width: 15em;  padding: 0.5em 1em; border: 1px solid green; margin: 0.2em}
div.EASY { }
div.TRKY { }
div.IMPO { }
div.pledgetext {font-size: 200%; line-height: 110%; font-family: 'Montez', cursive;}
</style>
<h1>Pledges</h1>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<div id="container" class="jsx-masonry">
{% for pledge in pledges %}
<div class="item pledge {{pledge.difficulty}}">
<div class="pledgetext">{{pledge.text}} - {{pledge.handle}}</div>
{% likes pledge %}
</div>
{% endfor %}
</div>

<script src="{{ STATIC_URL }}js/masonry.pkgd.min.js"></script>
<script>
$( window ).load(function() {
$('#container').masonry({});
});
</script>
{% endblock %}
