{% extends "base_wide.html" %}
{% load sekizai_tags %}
{% load url from future %}

{% block headcontent %}
{% addtoblock "css" %}
<link href="{{STATIC_URL}}/programme/css/timetable.css" type="text/css" rel="stylesheet">
{% endaddtoblock %}

	 <div class="span3 hidden-print" id="logo">
	   <a href="/"><img src="{{ STATIC_URL }}booking/images/foss4g2013-white-300.png" /></a>
	 </div>
	 <div class="span9" id="blurb">
	   <h1>{% block tophead %}Programme{% endblock %}</h1>
<ul class="topmenu">
<li><a href="{% url 'programme-index' %}">Overview</a></li>
<li><a href="{% url 'view-timetable' daynumber=1 %}">Thursday</li>
<li><a href="{% url 'view-timetable' daynumber=2 %}">Friday</li>
<li><a href="{% url 'view-timetable' daynumber=3 %}">Saturday</li>
<li><a href="{% url 'workshop-index' %}">Workshops</a></li>
<li><a href="{% url 'freeworkshop-index' %}">Free Workshops</a></li>
</ul>
<form class="form-inline" method="get" action="{% url 'haystack_search' %}">
<input type="text" name="q" id="id_q2"><input type="submit" value="Presentation Search">
</form>
	 </div>
{% endblock %}

{% block content %}

{% endblock %}


</body></html>
