{% extends "site_structure.html" %}
{% load sekizai_tags cms_tags menu_tags compress event_tags sponsorship_tags %}

{% block site_title %}{% block title %}Welcome{% endblock %} - FOSS4G 2013 Nottingham{% endblock %}

{% block site_meta %}
  <meta name="author" content="FOSS4G 2013">
  <meta name="keywords" content="{% block meta_keywords %}Open Source, geospatial, maps, conference{% endblock %}">
  <meta name="description" content="{% block meta_description %}The Open Source Geospatial Conference{% endblock %}">
  <meta property="og:title" content="{% block og_title %}{% endblock %}FOSS4G 2013" />
  <meta property="og:site_name" content="FOSS4G 2013" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="http://{{ request.get_host }}/" />
  <meta property="og:image" content="http://{{ request.get_host }}{{ STATIC_URL }}images/logo-small.png" />
  <meta property="og:description" content="{% block og_description %}The Free and Open Source Geospatial Conference{% endblock %}" />
  <link rel="alternate" href="/news/feed/" type="application/atom+xml" title="FOSS4G 2013 News" />
{% endblock %}

{% block site_content %}
<div class="container-fluid">

<div class="row-fluid">

<div class="span12">
<div class="row-fluid heading" id="intro">
{% block headcontent %}	
 <div class="span3 hidden-print" id="logo">
   <img src="{{ STATIC_URL }}booking/images/foss4g2013-white-300.png" />
 </div>
 <div class="span9" id="blurb">
   <h1>FOSS4G2013 Nottingham</h1>
</p>
</div>
{% endblock %}
</div>
<div class="row-fluid ws">
<div class="span12 well wssbox">
{% block content %}
{% endblock %}
</div>
</div>
</div>

</div>
</div>
{% endblock %}
