{% extends "booking/booking_base.html" %}

{% block content %}
<h1>Add New Workshop User</h1>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }} alert-danger"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<form class="form-horizontal" name="newform" method="POST"  autocomplete="off">{% csrf_token %}

<div class="control-group">
  <label for="id_delegate" class="control-label requiredField">delegate number</label>
  <div class="controls">
  <input type="text" name="delegatenumber" id="id_delegate" />
  </div>
</div>

<div class="control-group">
<label for="id_password" class="control-label requiredField">password</label>
<div class="controls">
  <input id="id_password" type="text" name="pass" value="{{initp}}"/>
</div>
</div>

<div class="control-group">
<label for="id_email" class="control-label requiredField"> email</label>
<div class="controls">
  <input id="id_email" type="text" name="email" value="" />
</div>
</div>

<div class="control-group">
<label for="id_first" class="control-label requiredField">first name</label>
<div class="controls">
  <input id="id_first" type="text" name="firstname" value="" />
</div>
</div>

<div class="control-group">
<label for="id_last" class="control-label requiredField">last name</label>
<div class="controls">
  <input id="id_last" type="text" name="lastname" value="" />
</div>
</div>


<div class="control-group">
<div class="controls">
<label class="radio inline ">
  <input type="radio" name="credits" value="4" checked />1 day
</label>
<label class="radio inline ">
  <input type="radio" name="credits" value="8" />2 days
</label>
</div>
</div>

<div class="control-group">
<div class="controls"> 
<label for="id_sendmail" class="checkbox requiredField">
  <input id="id_sendmail" type="checkbox" name="sendmail" value="send" checked />
Email details?</label>
</div>
</div>


<div class="control-group">
<div class="controls">
<button type="submit" class="btn">Create</button>
</div>
</div>

</form>



{% endblock %}
