{% extends "booking/booking_base.html" %}

{% block content %}
<h1>Add New Workshop User</h1>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }} alert-danger"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
<form name="newform" method="POST"  autocomplete="off">{% csrf_token %}
  username:
  <input type="text" name="user" /><br />
  password:
  <input type="text" name="pass" value="{{initp}}"/><br />
  email:
  <input type="text" name="email" value="" /><br />
  first name:
  <input type="text" name="firstname" value="" /><br />
  last name:
  <input type="text" name="lastname" value="" /><br />
  credits:
  <input type="text" name="credits" value="" /> (1 day = 4 credits, 2 days = 8 credits)<br />

  Send confirmation email?
  <input type="checkbox" name="sendmail" value="send" checked /><br />
  <input type="submit" value="Create" />
</form>

{% endblock %}
