span.prestitle {color: #15c}
span.presname {color: green}
table.timet {
    background-color: white;
}
table.timet th {
    font-size: 0.8em;
    line-height: 1.1em;
    width: 10em;
    font-weight: bold;
    text-align: center;
    border: 2px solid grey;
}

table.timet td.datelabel {width: 2em}
table.timet th.firstcol {width: 2em}

table.timet td {vertical-align: top; font-size: 0.8em; line-height: 1.1em; padding: 0.5em 0.5em 0.5em 0.5em; border: 2px solid grey; height: 2em;}

table.timet td.presentation {
    border-left: 2px solid grey;
    border-right: 2px solid grey;
    border-top: none;
    border-bottom: none;
}

table.timet td.empty {
    background-color: #eee;
}

table.timet td.first {border-top: 2px solid grey}

table.timet td.plenary {background-color: #DDFFFF;}
table.timet td.plenary {font-size: 110%}
table.timet td.plenary h1 {font-size: 1em; margin:0; padding: 0.2em 0 0.2em 0; line-height: 110%}

table.timet td.global {
    vertical-align: middle; text-align: center;
    padding: 0; margin: 0;
    background-color: #DDFFCC;
}
table.timet td.global h1 {font-size: 1.5em; margin:0; padding: auto 0; line-height: 110%;}
table.timet td.global p {margin: 0}

h1.sessiontitle {font-size: 1em; margin:0; padding: 0.2em 0 0.2em 0; line-height: 110%}

ul.daymenu {display:inline; margin-left: 0}
ul.daymenu li {display: inline}

span.like, span.unlike {
    text-indent: 100%; vertical-align: bottom;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    width: 16px;
    height:16px;
}
span.like.False {
    background-image: url(../img/star-empty.png);
}
span.like.True {
    background-image: url(../img/star.png);
}
span.tag { display: none}
span.tag.academic,span.tag.newbie,span.tag.science,span.tag.government,
span.tag.business,span.tag.cloud,span.tag.education,span.tag.mobile,
span.tag.lighthearted {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    width: 16px;
    height:16px;
    vertical-align: top;
}


span.tag.academic {
    background-image: url(../img/graduation-hat.png);
}

span.tag.newbie {
    background-image: url(../img/globe-share.png);
}

span.tag.science {
    background-image: url(../img/molecule.png);
}
span.tag.business {
    background-image: url(../img/chart-up-color.png);
}
span.tag.government {
    background-image: url(../img/bank.png);
}
span.tag.cloud {
    background-image: url(../img/weather-cloud.png);
}

span.tag.education{
    background-image: url(../img/chalkboard-text.png);
}

span.tag.mobile{
    background-image: url(../img/mobile-phone-cast.png);
}

span.tag.lighthearted{
    background-image: url(../img/smiley-lol.png);
}

div.cancelled span {color: grey; text-decoration: line-through;}

span.cancelled {color: grey; text-decoration: line-through;}

div.special {padding-left: 1em;border-bottom: 1px solid grey; line-height: 110%}

div.special h3 {font-size: 120%; line-height: 110%;}

/*  from view_presentation */

div.description {margin: 2em 0 ;}
span.desclabel {font-weight: bold; font-size: 120%}
div.abstract {}
span.abslabel {font-weight: bold; font-size: 140%}

div.evens {background-color: #EFE; padding: 0.25em 0 0.25em 0.5em}
div.odds {background-color: white; padding: 0.25em 0 0.25em 0.5em}

table.overview {font-size: 150%;line-height: 120%}
table.overview th {text-align: center;font-weight: bold;height: 1.5em;background-color: green; color: white;
border-left: 2px solid white; border-right: 2px solid white;
}
table.overview td {
background-color: #CFC;
color: #272;
width: 25%; height: 3em; padding: 0.5em 0.5em; border-left: 2px solid white; border-right: 2px solid white;}

table.overview tr.odds td{background-color: #CEC;}
table.overview tr.evens td {background-color: #EFE;}

ul.topmenu {margin: 0 0 .5em 0}
ul.topmenu li {display: inline; margin-right: 1em; padding: 0.25em 0.5em; background-color: #cec;}

input#id_q2 {max-height: 1em;margin-right: 0.2em}
input#id_q {max-height: 1em; margin:0}

@media (max-width: 767px){
h2 {font-size: 120%;line-height: 120%}
h3 {font-size: 105%;line-height: 120%}
table.overview {font-size: 100%;line-height: 120%}
}
@media (max-width: 511px){
h2 {font-size: 100%;line-height: 120%}
h3 {font-size: 100%;line-height: 120%}
table.overview {font-size: 80%;line-height: 120%}
}