span.prestitle {color: #15c}
span.presname {color: green}
table.timet {
    background-color: white;
}
table.timet th {
    font-size: 0.8em;
    line-height: 1.1em;
    width: 10em;
    font-weight: bold;
    text-align: center;
    border: 2px solid grey;
}

table.timet td.datelabel {width: 2em}
table.timet th.firstcol {width: 2em}

table.timet td {vertical-align: top; font-size: 0.8em; line-height: 1.1em; padding: 0.5em 0.5em 0.5em 0.5em; border: 2px solid grey; height: 2em;}

table.timet td.presentation {
    border-left: 2px solid grey;
    border-right: 2px solid grey;
    border-top: none;
    border-bottom: none;
}

table.timet td.empty {
    background-color: #eee;
}

table.timet td.first {border-top: 2px solid grey}

table.timet td.plenary {background-color: #DDFFFF;}
table.timet td.plenary {font-size: 110%}
table.timet td.plenary h1 {font-size: 1em; margin:0; padding: 0.2em 0 0.2em 0; line-height: 110%}

table.timet td.global {
    vertical-align: middle; text-align: center;
    padding: 0; margin: 0;
    background-color: #DDFFCC;
}
table.timet td.global h1 {font-size: 1.5em; margin:0; padding: auto 0; line-height: 110%;}
table.timet td.global p {margin: 0}

h1.sessiontitle {font-size: 1em; margin:0; padding: 0.2em 0 0.2em 0; line-height: 110%}

ul.daymenu {display:inline; margin-left: 0}
ul.daymenu li {display: inline}

span.tag {display: none}
span.tag.academic {display: inline}
span.tag.newbie {display:inline}
