 {% extends "base_programme.html" %}
{% load url from future %}
{% load programme_tags %}
{% block content %}

<style>
span.person {border: 1px solid black; padding: 0 0.5em}
h2 {font-size: 120%}
div.presentation {background-color: white; padding: 1em; margin-bottom: 1em; border: 1px solid grey}
</style>

<h1>Text for timetable boxes</h1>

<p>Session titles, presentation titles, lead presenters.</p>
<p><strong>N</strong> denotes 'newbie' session for highlight on timetable (with colour or stars or something)</p>


{% for s in S %}
<div class="session">
<h2 style="border-bottom: 1px solid black">{{s.title}}</h2>

{% for p in s.presentation_set.all|posorder %}
<div>
{% with pres=Phash|get_item:p.pk %}
{{s.title|slice:"8:"}}.{{pres.position}} {{pres.title}}
<i>{{pres.presenter}}</i>
{% if pres.newb %}
<br/><strong>N</strong>
{% endif %}

{% endwith %}
</div>
{% endfor %}
</div>
{% endfor %}

{% endblock %}
