{% extends "base_programme.html" %}
{% load admin_urls %}
{% load url from future %}

{% block title %}Free Workshops{% endblock %}
{% block tophead %}Free Workshops{% endblock %}


{% block content %}

{% for fwork in fworkshops %}
{% ifchanged fwork.start.date %}<h1>{{fwork.start.date}}</h1>{% endifchanged %}
<div class="fwork">
<h3>{{fwork.title}}</h3>
<h4><a href="{% url 'view-person' person_pk=fwork.presenter.pk%}">{{fwork.presenter}}</a>
{% with aff=fwork.presenter.affiliation %}
{% if aff %}
({{aff}})
{% endif %}
{% endwith %}
{% with cops=fwork.copresenter.all %}
{% if cops %}
with {% for cop in cops %}<a href="{% url 'view-person' person_pk=cop.pk%}">{{cop}}</a>
{% with copaff=cop.affiliation %}
{% if copaff %}({{copaff}}){% endif %}{% endwith %}{% if forloop.revcounter0 > 0 %}, {%endif %}{% endfor %}
{% endif %}
{% endwith %}
</h4>
<ul>
<li>{{fwork.start|date:"P"}} to {{fwork.end|date:"P"}}</li>
<li>Location: {{fwork.location}}</li>
<!--li>Max Delegates: {{fwork.maxdelegates}}</li>
<li>Roomsize: {{fwork.location.capacity}}</li>
<li>Capacity: {{fwork.capacity}}</li-->
</ul>
<p>
{{fwork.desc}}
</p>
</div>
{% endfor %}



{% endblock %}
