<TABLE FRAME=VOID  CELLSPACING=0 COLS=9 RULES=NONE BORDER=0>
	<COLGROUP><COL WIDTH=86><COL WIDTH=86><COL WIDTH=86><COL WIDTH=86><COL WIDTH=86><COL WIDTH=86><COL WIDTH=86><COL WIDTH=86><COL WIDTH=86></COLGROUP>
	<TBODY>
		<TR>
			<TD class="cell1" HEIGHT=20 ALIGN=CENTER VALIGN=MIDDLE><B>Start</B></TD>
			<TD class="cell1" ALIGN=CENTER VALIGN=MIDDLE><B>End</B></TD>
			<TD class="cell1" ALIGN=CENTER VALIGN=MIDDLE><B>Duration</B></TD>
			<TD class="cell1" ALIGN=CENTER VALIGN=MIDDLE ><B>1</B></TD>
			<TD class="cell1" ALIGN=CENTER VALIGN=MIDDLE ><B>2</B></TD>
			<TD class="cell1" ALIGN=CENTER   VALIGN=MIDDLE ><B>3</B></TD>
			<TD class="cell1" ALIGN=CENTER    VALIGN=MIDDLE ><B>4</B></TD>
			<TD class="cell1" ALIGN=CENTER    VALIGN=MIDDLE ><B>5</B></TD>
			<TD class="cell1" ALIGN=CENTER    VALIGN=MIDDLE><B>Room</B></TD>
		</TR>

		<TR>
			<TD class="celltime" HEIGHT=19 ALIGN=CENTER VALIGN=BOTTOM   >9:30</TD>
			<TD class="celltime" ALIGN=CENTER VALIGN=BOTTOM   >11:30</TD>
			<TD class="celltime" ALIGN=CENTER VALIGN=BOTTOM >2:00</TD>
			<TD STYLE="border-left: 1px solid #000000" ROWSPAN=5 ALIGN=CENTER VALIGN=MIDDLE BGCOLOR="#FFC000" >
<a href="#W5" title="OGC services with GeoServer: from journeyman to master">W5</a>
 </TD>
			<TD class="w8" ROWSPAN=2 ALIGN=CENTER VALIGN=MIDDLE BGCOLOR="#92D050">
<a href="#W8" title="Introduction to PostGIS">W8</a>
</TD>
			<TD class="w6" ROWSPAN=2 ALIGN=CENTER VALIGN=MIDDLE BGCOLOR="#92D050">
<a href="#W6" title="ZOO-Project play with building blocks to build pgRouting web application">W6</a>
</TD>
			<TD class="w16" ROWSPAN=2 ALIGN=CENTER VALIGN=MIDDLE BGCOLOR="#92D050">
<a href="#W16" title="QGIS, OpenData & Cartographic Design; Create a Robin Hood tourist map of Nottingham">W16</a>
</TD>
			<TD class="w10" ROWSPAN=2 ALIGN=CENTER VALIGN=MIDDLE BGCOLOR="#92D050">
<a href="#W10" title="GeoNode Developers Workshop">W10</a>
</TD>
			<TD ALIGN=LEFT VALIGN=BOTTOM><BR></TD>
		</TR>
		<TR>
			<TD HEIGHT=19 ALIGN=CENTER VALIGN=BOTTOM  >11:30</TD>
			<TD class="celltime" ALIGN=CENTER VALIGN=BOTTOM  >13:30</TD>
			<TD class="celltime"  ALIGN=RIGHT VALIGN=BOTTOM >2:00</TD>
			<TD ALIGN=LEFT VALIGN=BOTTOM><BR></TD>
		</TR>
		<TR>
			<TD class="celltime lunch" HEIGHT=19 ALIGN=RIGHT VALIGN=BOTTOM   >13:30</TD>
			<TD class="celltime lunch" ALIGN=RIGHT VALIGN=BOTTOM   >14:00</TD>
			<TD class="celltime lunch"  ALIGN=RIGHT VALIGN=BOTTOM >0:30</TD>
			<TD ALIGN=LEFT VALIGN=BOTTOM BGCOLOR="#CCFFFF"><BR></TD>
			<TD ALIGN=LEFT VALIGN=BOTTOM BGCOLOR="#CCFFFF"><BR></TD>
			<TD ALIGN=LEFT VALIGN=BOTTOM BGCOLOR="#CCFFFF"><BR></TD>
			<TD ALIGN=LEFT VALIGN=BOTTOM BGCOLOR="#CCFFFF"><BR></TD>
			<TD ALIGN=LEFT VALIGN=BOTTOM BGCOLOR="#CCFFFF"><B>Lunch</B></TD>
		</TR>
		<TR>
			<TD class="celltime" HEIGHT=19 ALIGN=RIGHT VALIGN=BOTTOM  >14:00</TD>
			<TD class="celltime" ALIGN=RIGHT VALIGN=BOTTOM  >16:00</TD>
			<TD class="celltime"  ALIGN=RIGHT VALIGN=BOTTOM >2:00</TD>
			<TD class="w7" ROWSPAN=2 ALIGN=CENTER VALIGN=MIDDLE BGCOLOR="#92D050">
<a href="#W7" title="GeoNode, A complete SDI">W7</a>
</TD>
			<TD ROWSPAN=2 ALIGN=CENTER VALIGN=MIDDLE>----</TD>
			<TD class="w9" ROWSPAN=2 ALIGN=CENTER VALIGN=MIDDLE BGCOLOR="#92D050">
<a href="#W9" title="QGIS Plugin Developement with PyQt4 and PyQGIS">W9</a>
</TD>
			<TD class="w15" ROWSPAN=2 ALIGN=CENTER VALIGN=MIDDLE BGCOLOR="#92D050">
<a href="#W15" title="Big Data: The Challenges Presented by WCS 2.0">W15</a>
</TD>
			<TD ALIGN=LEFT VALIGN=BOTTOM><BR></TD>
		</TR>
		<TR>
			<TD class="celltime" HEIGHT=19 ALIGN=RIGHT VALIGN=BOTTOM  >16:00</TD>
			<TD class="celltime" ALIGN=RIGHT VALIGN=BOTTOM  >18:00</TD>
			<TD class="celltime"  ALIGN=RIGHT VALIGN=BOTTOM >2:00</TD>
			<TD ALIGN=LEFT VALIGN=BOTTOM><BR></TD>
		</TR>
	</TBODY>
</TABLE>
