<table frame="VOID" cellspacing="0" cols="9" rules="NONE" border="0">
    <colgroup>
        <col width="86" />
        <col width="86" />
        <col width="86" />
        <col width="86" />
        <col width="86" />
        <col width="86" />
        <col width="86" />
        <col width="86" />
        <col width="86" />
    </colgroup>
    <tbody>
        <tr>
            <td class="cell1" height="20" align="CENTER" valign="MIDDLE">
                <b>Start</b>
            </td>
            <td class="cell1" align="CENTER" valign="MIDDLE">
                <b>End</b>
            </td>
            <td class="cell1" align="CENTER" valign="MIDDLE">
                <b>Duration</b>
            </td>
            <td class="cell1" align="CENTER" valign="MIDDLE">
                <b>1</b>
            </td>
            <td class="cell1" align="CENTER" valign="MIDDLE">
                <b>2</b>
            </td>
            <td class="cell1" align="CENTER" valign="MIDDLE">
                <b>3</b>
            </td>
            <td class="cell1" align="CENTER" valign="MIDDLE">
                <b>4</b>
            </td>
            <td class="cell1" align="CENTER" valign="MIDDLE">
                <b>5</b>
            </td>
            <td class="cell1" align="LEFT" valign="MIDDLE">
                <b>Room</b>
            </td>
        </tr>
        <tr>
            <td class="celltime" height="19" align="RIGHT" valign="BOTTOM">9:30</td>
            <td class="celltime" align="RIGHT" valign="BOTTOM">11:30</td>
            <td class="celltime" align="RIGHT" valign="BOTTOM">2:00</td>
            <td class="w12" rowspan="2" align="CENTER" valign="MIDDLE" bgcolor="#92D050">
                <a href="#W12" title="PostGIS 3D Workshop">W12</a>
            </td>
            <td class="w17" rowspan="2" align="CENTER" valign="MIDDLE" bgcolor="#92D050">
                <a href="#W17" title="A complete open source web mapping stack (Introduction to the OpenGeo Suite)">W17</a>
            </td>
            <td class="w4" rowspan="5" align="CENTER" valign="MIDDLE">
                <a href="#W4" title="Impact Modelling with OpenStreetMap and InaSAFE">W4</a>
            </td>
            <td class="w2" align="CENTER" valign="BOTTOM" bgcolor="#FF0000">
                <a href="#W2" title="Quantum GIS in action">W2</a>
            </td>
            <td class="w1" align="CENTER" valign="BOTTOM" bgcolor="#FF0000">
                <a href="#W1" title="OSM-GB Services and Data Workshop">W1</a>
            </td>
            <td align="LEFT" valign="BOTTOM">
                <br />
            </td>
        </tr>
        <tr>
            <td class="celltime" height="19" align="RIGHT" valign="BOTTOM">11:30</td>
            <td class="celltime" align="RIGHT" valign="BOTTOM">13:30</td>
            <td class="celltime" align="RIGHT" valign="BOTTOM">2:00</td>
            <td align="CENTER" valign="BOTTOM">----</td>
            <td class="w3" align="CENTER" valign="BOTTOM" bgcolor="#FF0000">
                <a href="#W3" title="Using CartoDB to map real-time data">W3</a>
            </td>
            <td align="LEFT" valign="BOTTOM">
                <br />
            </td>
        </tr>
        <tr>
            <td class="celltime lunch" height="19" align="RIGHT" valign="BOTTOM">13:30</td>
            <td class="celltime lunch" align="RIGHT" valign="BOTTOM">14:00</td>
            <td class="celltime lunch" align="RIGHT" valign="BOTTOM">0:30</td>
            <td align="LEFT" valign="BOTTOM" bgcolor="#CCFFFF">
                <br />
            </td>
            <td align="LEFT" valign="BOTTOM" bgcolor="#CCFFFF">
                <br />
            </td>
            <td align="LEFT" valign="BOTTOM" bgcolor="#CCFFFF">
                <br />
            </td>
            <td align="LEFT" valign="BOTTOM" bgcolor="#CCFFFF">
                <br />
            </td>
            <td align="LEFT" valign="BOTTOM" bgcolor="#CCFFFF">
                <b>Lunch</b>
            </td>
        </tr>
        <tr>
            <td class="celltime" height="19" align="RIGHT" valign="BOTTOM">14:00</td>
            <td class="celltime" align="RIGHT" valign="BOTTOM">16:00</td>
            <td class="celltime" align="RIGHT" valign="BOTTOM">2:00</td>
            <td class="w18" rowspan="2" align="CENTER" valign="MIDDLE" bgcolor="#92D050">
                <a href="#W18" title="Introduction to Mobile Web Development Using FOSS4G">W18</a>
            </td>
            <td class="w14" rowspan="2" align="CENTER" valign="MIDDLE" bgcolor="#92D050">
                <a href="#W14" title="FOSS4G routing with pgRouting, OpenStreetMap road data and OpenLayers 3">W14</a>
            </td>
            <td class="w11" rowspan="2" align="CENTER" valign="MIDDLE" bgcolor="#92D050">
                <a href="#W11" title="Managing Versioned Data with GeoGit">W11</a>
            </td>
            <td class="w13" rowspan="2" align="CENTER" valign="MIDDLE" bgcolor="#92D050">
                <a href="#W13" title="deegree: Setting up interoperable INSPIRE Download Services in 3 hours">W13</a>
            </td>
            <td align="LEFT" valign="BOTTOM">
                <br />
            </td>
        </tr>
        <tr>
            <td class="celltime" height="19" align="RIGHT" valign="BOTTOM">16:00</td>
            <td class="celltime" align="RIGHT" valign="BOTTOM">18:00</td>
            <td class="celltime" align="RIGHT" valign="BOTTOM">2:00</td>
            <td align="LEFT" valign="BOTTOM">
                <br />
            </td>
        </tr>
        <tr>
            <td height="19" align="LEFT" valign="BOTTOM">
                <br />
            </td>
            <td align="LEFT" valign="BOTTOM">
                <br />
            </td>
            <td align="LEFT" valign="BOTTOM">
                <br />
            </td>
            <td align="LEFT" valign="BOTTOM">
                <br />
            </td>
            <td align="LEFT" valign="BOTTOM">
                <br />
            </td>
            <td align="LEFT" valign="BOTTOM">
                <br />
            </td>
            <td align="LEFT" valign="BOTTOM">
                <br />
            </td>
            <td align="LEFT" valign="BOTTOM">
                <br />
            </td>
            <td align="LEFT" valign="BOTTOM">
                <br />
            </td>
        </tr>
        <tr>
            <td height="19" align="LEFT" valign="BOTTOM">
                <br />
            </td>
            <td align="LEFT" valign="BOTTOM">
                <br />
            </td>
            <td align="LEFT" valign="BOTTOM">
                <br />
            </td>
            <td align="LEFT" valign="BOTTOM">
                <br />
            </td>
            <td align="LEFT" valign="BOTTOM">
                <br />
            </td>
            <td align="LEFT" valign="BOTTOM">
                <br />
            </td>
            <td align="LEFT" valign="BOTTOM">
                <br />
            </td>
            <td align="LEFT" valign="BOTTOM">
                <br />
            </td>
            <td align="LEFT" valign="BOTTOM">
                <br />
            </td>
        </tr>
    </tbody>
</table>
