{% extends "base_programme.html" %}
{% load sekizai_tags %}
{% load url from future %}

{% block title %}{{day|date:"l"}} Timetable{% endblock %}

{% block content %}

{% addtoblock "css" %}
<link href="{{STATIC_URL}}/programme/css/timetable.css" type="text/css" rel="stylesheet">
{% endaddtoblock %}

{% addtoblock "js" %}
<script type="text/javascript">
jQuery(document).ready(function ($) {
$(".togglefave").click(function(event){
event.preventDefault();
$.ajax({
 url:$(this).attr("href"),
 success: function(response){}
 });

span=$(this).find("span");
span.toggleClass("True");
span.toggleClass("False");
return false;
});

});
</script>
{% endaddtoblock %}

Goto: <ul class="daymenu">
{% for dayT in all_days %}
<li><a href="{% url 'view-timetable' daynumber=forloop.counter %}">{{dayT|date:"l"}}</a></li>
{% endfor %}
</ul>
<p>
Jump to <a href="#freews">Free Workshops</a>, <a href="#events">Events</a>
</p>
<p>
See <a href="{% url 'favourites' %}">your favourites</a>
</p>

<h1>{{day|date:"l jS F "}}</h1>
<h2>Main Timetable</h2>
{{t.plaintable|safe}}

Goto: <ul class="daymenu">
{% for dayT in all_days %}
<li><a href="{% url 'view-timetable' daynumber=forloop.counter %}">{{dayT|date:"l"}}</a></li>
{% endfor %}
</ul>

<h2><a id="freews"></a>Today's Free Workshops</h2>
<ul>
{% for w in freews %}
<li>{{w.start|date:"H:i"}} to {{w.end|date:"H:i"}} <a href="{% url 'freeworkshop' pk=w.pk %}">{{w.title}}</a> in {{w.location}}</li>
{% empty %}
<li>None</li>
{% endfor %}
</ul>

<h2><a id="events"></a>Today's Events</h2>
<ul>
{% for w in specials %}
<li>{{w.name}}
<p>{{w.details|safe}}</p>
</li>
{% empty %}
<li>None</li>
{% endfor %}
</ul>


{% endblock %}

{% block extra_foot %}
Some icons by <a href="http://p.yusukekamiyamane.com">Yusuke Kamiyamane</a>. Licensed under a Creative Commons Attribution 3.0 License.
{% endblock %}

