{% extends "base_programme.html" %}
{% load sekizai_tags %}
{% load url from future %}

{% block title %}{{day|date:"l"}} Timetable{% endblock %}
{% block tophead %}{{day|date:"l jS F "}}{% endblock %}
{% block content %}

{% addtoblock "js" %}
<script type="text/javascript">
jQuery(document).ready(function ($) {
$(".togglefave").click(function(event){
event.preventDefault();
$.ajax({
 url:$(this).attr("href"),
 success: function(response){}
 });

span=$(this).find("span");
span.toggleClass("True");
span.toggleClass("False");
return false;
});

});
</script>
{% endaddtoblock %}

<p>
Jump to <a href="#freews">Free Workshops</a>, <a href="#events">Events</a>
</p>
<p>
See <a href="{% url 'favourites' %}">your favourites</a>
</p>

<h2 class="subhead"><a id="events"></a>Today's Special Events</h2>
{% for w in specials %}
<div class="special">
<h3>{{w.name}}</h3>
{{w.details|safe}}
</div>
{% empty %}
<p>None</p>
{% endfor %}


<h2 class="subhead">Main Timetable</h2>
{{t.plaintable|safe}}

Goto: <ul class="daymenu">
{% for dayT in all_days %}
<li><a href="{% url 'view-timetable' daynumber=forloop.counter %}">{{dayT|date:"l"}}</a></li>
{% endfor %}
</ul>

<h2 class="subhead"><a id="freews"></a>Today's Free Workshops</h2>
<ul>
{% for w in freews %}
<li>{{w.start|date:"H:i"}} to {{w.end|date:"H:i"}} <a href="{% url 'freeworkshop' pk=w.pk %}">{{w.title}}</a> in {{w.location}}</li>
{% empty %}
<li>None</li>
{% endfor %}
</ul>



{% endblock %}

{% block extra_foot %}
Some icons by <a href="http://p.yusukekamiyamane.com">Yusuke Kamiyamane</a>. Licensed under a Creative Commons Attribution 3.0 License.
{% endblock %}

