<TABLE FRAME=VOID CELLSPACING=0 COLS=9 RULES=NONE BORDER=0>
	<COLGROUP><COL WIDTH=86><COL WIDTH=86><COL WIDTH=86><COL WIDTH=86><COL WIDTH=86><COL WIDTH=86><COL WIDTH=86><COL WIDTH=86><COL WIDTH=86></COLGROUP>
	<TBODY>
		<TR>
			<TD class="cell1" HEIGHT=20 ALIGN=CENTER VALIGN=MIDDLE><B>Start</B></TD>
			<TD class="cell1" ALIGN=CENTER VALIGN=MIDDLE><B>End</B></TD>
			<TD class="cell1" ALIGN=CENTER VALIGN=MIDDLE><B>Duration</B></TD>
			<TD class="cell1" ALIGN=CENTER VALIGN=MIDDLE ><B>1</B></TD>
			<TD class="cell1" ALIGN=CENTER VALIGN=MIDDLE ><B>2</B></TD>
			<TD class="cell1" ALIGN=CENTER VALIGN=MIDDLE ><B>3</B></TD>
			<TD class="cell1" ALIGN=CENTER VALIGN=MIDDLE ><B>4</B></TD>
			<TD class="cell1" ALIGN=CENTER VALIGN=MIDDLE ><B>5</B></TD>
			<TD class="cell1" ALIGN=LEFT VALIGN=MIDDLE><B>Room</B></TD>
		</TR>
		<TR>
			<TD class="celltime" HEIGHT=19 ALIGN=RIGHT VALIGN=BOTTOM   >9:30</TD>
			<TD class="celltime" ALIGN=RIGHT VALIGN=BOTTOM   >11:30</TD>
			<TD class="celltime" ALIGN=RIGHT VALIGN=BOTTOM >2:00</TD>
			<TD class="w2" ALIGN=CENTER VALIGN=BOTTOM BGCOLOR="#FF0000" >
<a href="#W2" title="Quantum GIS in action">W2</a>
 </TD>
			<TD class="w17" ROWSPAN=2 ALIGN=CENTER VALIGN=MIDDLE BGCOLOR="#92D050">
<a href="#W17" title="A complete open source web mapping stack (Introduction to the OpenGeo Suite)">W17</a>
</TD>
			<TD class="w4" ROWSPAN=5 ALIGN=CENTER VALIGN=MIDDLE >
<a href="#W4" title="Impact Modelling with OpenStreetMap and InaSAFE">W4</a>
</TD>
			<TD class="w12" ROWSPAN=2 ALIGN=CENTER VALIGN=MIDDLE BGCOLOR="#92D050">
<a href="#W12" title="PostGIS 3D Workshop">W12</a>
</TD>
			<TD class="w1" ALIGN=CENTER VALIGN=BOTTOM BGCOLOR="#FF0000">
<a href="#W1" title="OSM-GB Services and Data Workshop">W1</a>
</TD>
			<TD ALIGN=LEFT VALIGN=BOTTOM><BR></TD>
		</TR>
		<TR>
			<TD class="celltime" HEIGHT=19 ALIGN=RIGHT VALIGN=BOTTOM  >11:30</TD>
			<TD class="celltime" ALIGN=RIGHT VALIGN=BOTTOM  >13:30</TD>
			<TD class="celltime" ALIGN=RIGHT VALIGN=BOTTOM >2:00</TD>
			<TD class="w3" ALIGN=CENTER VALIGN=BOTTOM BGCOLOR="#FF0000">
<a href="#W3" title="Using CartoDB to map real-time data">W3</a>
</TD>
			<TD ALIGN=CENTER VALIGN=BOTTOM>----</TD>
			<TD ALIGN=LEFT VALIGN=BOTTOM><BR></TD>
		</TR>
		<TR>
			<TD class="celltime lunch" HEIGHT=19 ALIGN=RIGHT VALIGN=BOTTOM   >13:30</TD>
			<TD class="celltime lunch" ALIGN=RIGHT VALIGN=BOTTOM   >14:00</TD>
			<TD class="celltime lunch"  ALIGN=RIGHT VALIGN=BOTTOM >0:30</TD>
			<TD ALIGN=LEFT VALIGN=BOTTOM BGCOLOR="#CCFFFF"><BR></TD>
			<TD ALIGN=LEFT VALIGN=BOTTOM BGCOLOR="#CCFFFF"><BR></TD>
			<TD ALIGN=LEFT VALIGN=BOTTOM BGCOLOR="#CCFFFF"><BR></TD>
			<TD ALIGN=LEFT VALIGN=BOTTOM BGCOLOR="#CCFFFF"><BR></TD>
			<TD ALIGN=LEFT VALIGN=BOTTOM BGCOLOR="#CCFFFF"><B>Lunch</B></TD>
		</TR>
		<TR>
			<TD class="celltime" HEIGHT=19 ALIGN=RIGHT VALIGN=BOTTOM  >14:00</TD>
			<TD class="celltime" ALIGN=RIGHT VALIGN=BOTTOM  >16:00</TD>
			<TD class="celltime" ALIGN=RIGHT VALIGN=BOTTOM >2:00</TD>
			<TD class="w18" ROWSPAN=2 ALIGN=CENTER VALIGN=MIDDLE BGCOLOR="#92D050">
<a href="#W18" title="Introduction to Mobile Web Development Using FOSS4G">W18</a>
</TD>
			<TD class="w14" ROWSPAN=2 ALIGN=CENTER VALIGN=MIDDLE BGCOLOR="#92D050">
<a href="#W14" title="FOSS4G routing with pgRouting, OpenStreetMap road data and OpenLayers 3">W14</a>
</TD>
			<TD class="w11" ROWSPAN=2 ALIGN=CENTER VALIGN=MIDDLE BGCOLOR="#92D050">
<a href="#W11" title="Managing Versioned Data with GeoGit">W11</a>
</TD>
			<TD class="w13" ROWSPAN=2 ALIGN=CENTER VALIGN=MIDDLE BGCOLOR="#92D050">
<a href="#W13" title="deegree: Setting up interoperable INSPIRE Download Services in 3 hours">W13</a>
</TD>
			<TD ALIGN=LEFT VALIGN=BOTTOM><BR></TD>
		</TR>
		<TR>
			<TD class="celltime" HEIGHT=19 ALIGN=RIGHT VALIGN=BOTTOM  >16:00</TD>
			<TD class="celltime" ALIGN=RIGHT VALIGN=BOTTOM  >18:00</TD>
			<TD class="celltime" ALIGN=RIGHT VALIGN=BOTTOM >2:00</TD>
			<TD ALIGN=LEFT VALIGN=BOTTOM><BR></TD>
		</TR>
		<TR>
			<TD HEIGHT=19 ALIGN=LEFT VALIGN=BOTTOM><BR></TD>
			<TD ALIGN=LEFT VALIGN=BOTTOM><BR></TD>
			<TD ALIGN=LEFT VALIGN=BOTTOM><BR></TD>
			<TD ALIGN=LEFT VALIGN=BOTTOM><BR></TD>
			<TD ALIGN=LEFT VALIGN=BOTTOM><BR></TD>
			<TD ALIGN=LEFT VALIGN=BOTTOM><BR></TD>
			<TD ALIGN=LEFT VALIGN=BOTTOM><BR></TD>
			<TD ALIGN=LEFT VALIGN=BOTTOM><BR></TD>
			<TD ALIGN=LEFT VALIGN=BOTTOM><BR></TD>
		</TR>
		<TR>
			<TD HEIGHT=19 ALIGN=LEFT VALIGN=BOTTOM><BR></TD>
			<TD ALIGN=LEFT VALIGN=BOTTOM><BR></TD>
			<TD ALIGN=LEFT VALIGN=BOTTOM><BR></TD>
			<TD ALIGN=LEFT VALIGN=BOTTOM><BR></TD>
			<TD ALIGN=LEFT VALIGN=BOTTOM><BR></TD>
			<TD ALIGN=LEFT VALIGN=BOTTOM><BR></TD>
			<TD ALIGN=LEFT VALIGN=BOTTOM><BR></TD>
			<TD ALIGN=LEFT VALIGN=BOTTOM><BR></TD>
			<TD ALIGN=LEFT VALIGN=BOTTOM><BR></TD>
		</TR>
</tbody>
</table>
