<!doctype html>
<head>
    <meta charset="utf-8">
    <title>Volunteer Event Details</title>
<style>
body {font-family: helvetica}
div.event {border-bottom: 1px dotted black;padding-left: 3em;padding-bottom: 1em;}
th {text-align: right;}
li.volist {display: inline; margin-right: 4em;}
</style>
</head>
<body>
<h1>All Volunteer Events By Date</h1>
<p>Does not include chairing/helping presentations and workshops.</p>

{% for vevent in vevents %}
<div class="event">
{% include "programme/vevent_show.html" %}
</div>
{% endfor %}
</body>
</html>
