{% extends "base_programme.html" %}
{% load programme_tags %}
{% load url from future %}
{% block title %}{{plenary.title}}{% endblock %}
{% block tophead %}Plenary Session{% endblock %}
{% block content %}
<div class="plenary" >
<h1>{{plenary.title}}</h1>
<h2>{{plenary.start|date:"l jS N H:i"}} - {{plenary.end|date:"H:i"}}</h2>
<p>Item lengths are approximate</p>
<ol>
{% for item in plenary.plenaryitem_set.all|posorder %}
<li>{{item}} ({{item.duration}} minutes)</li>
{% endfor %}
</ol>
<p>Plenaries take place in the Auditorium and overflow into the Banqueting Suite.</p>
</div>
{% endblock %}
