{% extends "base_programme.html" %}
{% load programme_tags %}
{% load url from future %}

{% block title %}{{pres.title}}{% endblock %}
{% block tophead %}Presentation{% endblock %}

{% block content %}
<div class="presentation {% if pres.cancelled %}cancelled{% endif %}" >
<h1>{{pres.title}}</h1>{% if user.is_staff %}
<a class="btn btn-warning btn-mini" href="{% url 'admin:programme_presentation_change' pres.pk %}" target="_edit">edit</a>
{% endif %}
<h2><a href="{% url 'view-person' person_pk=pres.presenter.pk%}">{{pres.presenter}}</a>
{% with aff=pres.presenter.affiliation %}
{% if aff %}
({{aff}})
{% endif %}
{% endwith %}
{% with cops=pres.copresenter.all %}
{% if cops %}
with {% for cop in cops %}<a href="{% url 'view-person' person_pk=cop.pk%}">{{cop}}</a>
{% with copaff=cop.affiliation %}
{% if copaff %}({{copaff}}){% endif %}{% endwith %}{% if forloop.revcounter0 > 0 %}, {%endif %}{% endfor %}
{% endif %}
{% endwith %}
</h2>
{% if pres.cancelled %}
<div class="alert alert-danger">This presentation has been <strong>cancelled</strong></div>
{% else %}
{% if pres.insession %}
<h3>{{pres.start.time|date:"H:i"}} on {{pres.start|date:"l jS F"}} (in <a href="{% url 'view-psession' psession_pk=pres.insession.pk %}">{{pres.insession.title}}</a>, starting at {{pres.insession.start.time}}, <a href="{% url 'view-location' location_slug=pres.insession.location.slug %}">{{pres.insession.location}}</a>)</h3>
<h3><a href="{% url 'view-timetable' daynumber=pres|get_day %}?show={{pres.pk}}#p{{pres.pk}}">Show in Timetable</a></h3>

{% else %}
<h3>Unscheduled</h3>
{% endif %}
{% endif %}

<div class="description">
<span class="desclabel">Description:</span> {{ pres.desc }}
</div>
<div class="abstract">
<span class="abslabel">Abstract:</span>
{% autoescape off %}
{{ pres.abstract }}
{% endautoescape %}
</div>

</div>


{% endblock %}
