{% extends "base_programme.html" %}
{% load url from future %}

{% block title %}{{person}}{% endblock %}
{% block tophead %}Person{% endblock %}


{% block content %}

<h1>{{person}}</h1>

{% for p in person.presenter.all %}
{% if forloop.first %}
<h2>Presenting</h2>
{% endif %}
<div  class="{% cycle 'odds' 'evens' %}"><a href="{% url 'view-presentation' presentation_pk=p.pk %}">{{p.title}}</a> {% if p.cancelled %} (cancelled) {% endif %}</div>
{% empty %}
{% endfor %}

{% for p in person.presentation_set.all %}
{% if forloop.first %}
<h2>Co-Presenting</h2>
{% endif %}
<div  class="{% cycle 'odds' 'evens' %}">
<a href="{% url 'view-presentation' presentation_pk=p.pk %}">{{p}}</a>{% if p.cancelled %} (cancelled) {% endif %}
</div>
{% empty %}
{% endfor %}

{% for p in person.chairperson.all %}
{% if forloop.first %}
<h2>Chairing</h2>
<ul>
{% endif %}
<div  class="{% cycle 'odds' 'evens' %}">
<a href="{% url 'view-psession' psession_pk=p.pk %}">{{p}}</a>
</div>
{% empty %}
{% endfor %}

{% for p in person.helper.all %}
{% if forloop.first %}
<h2>Helping</h2>
{% endif %}
<div  class="{% cycle 'odds' 'evens' %}">
<a href="{% url 'view-psession' psession_pk=p.pk %}">{{p}}</a>
</div>
{% empty %}
{% endfor %}

{% endblock %}
