{% extends "base_programme.html" %}
{% load admin_urls %}
{% load url from future %}
{% block title %}Presentations{% endblock %}
{% block content %}


{% for pres in presentations %}

<div class="pres"><h2>{% if user.is_staff %}<a class="btn btn-warning btn-mini" href="{% url 'admin:programme_presentation_change' pres.pk %}" target="_edit">edit</a> {% endif %}<a href="{% url 'view-presentation' presentation_pk=pres.pk %}">{{pres.title}}</a> {{pres.presenter}}</h2>
<p>{{pres.desc}}</p>

</div>
{% endfor %}


{% endblock %}
