{% extends "base_programme.html" %}
{% load sekizai_tags %}
{% load url from future %}

{% block title %}{{psesh.title}}{% endblock %}

{% block content %}
{% addtoblock "css" %}
<link href="{{STATIC_URL}}/programme/css/timetable.css" type="text/css" rel="stylesheet">
{% endaddtoblock %}

<div class="psession" >
<h1>{{psesh.title}}{% if user.is_staff %}
<a class="btn btn-warning btn-mini" href="{% url 'admin:programme_psession_change' psesh.pk %}" target="_edit">edit</a>
{% endif %}</h1>
<h2>Chair:
{% if psesh.chair %}
<a href="{% url 'view-person' person_pk=psesh.chair.pk%}">{{psesh.chair}}</a>
{% else %}
Unassigned
{% endif %}
</h2>
<h2>Help: 
{% if psesh.helper %}
<a href="{% url 'view-person' person_pk=psesh.helper.pk %}">{{psesh.helper}}</a>
{% else %}
Unassigned
{% endif %}
</h2>
<h2>In: <a href="{% url 'view-location' location_slug=psesh.location.slug %}">{{psesh.location}}</a></h2>
<h2>Starting at: {{psesh.start.time}} on {{psesh.start|date:"l jS F"}}</h2>
<h2>Talks last: {{psesh.talkduration}}m</h2>

<ul>
{% for pres in presses %}
<li>{% include "programme/pres_link.html" %}</li>
{% endfor %}
</ul>

</div>


{% endblock %}
