{% extends "base_programme.html" %}
{% load url from future %}

{% block content %}

<div class="psession" >
<h1>{{psesh.title}}</h1>
<h2>Chair: {{psesh.chair}}</h2>
<h2>Help: {{psesh.helper}}</h2>
<h2>In: <a href="{% url 'view-location' location_slug=psesh.location.slug %}">{{psesh.location}}</a></h2>
<h2>Starting: {{psesh.start}}</h2>
<h2>Talks last: {{psesh.talkduration}}m</h2>

<ul>
{% for pres in presses %}
<li>{% include "programme/pres_link.html" %}</li>
{% endfor %}
</ul>

</div>


{% endblock %}
