{% extends "base_programme.html" %}
{% load url from future %}

{% block title %}{{w.item.title}}{% endblock %}
{% block tophead %}{{w.item.title}}{% endblock %}

{% block content %}
<div class="workshop">

<h3>Lead Presenter: {{w.item.speaker}} {% if w.item.speaker.affiliation %}({{w.item.speaker.affiliation}}){% endif %}</h3>
{% if w.item.additional_speakers.all %}
<h3 title="additional presenter">with {{w.item.additional_speakers.all|join:", "}}</h3>
{% endif %}
<p><a href="{% url 'view-location' location_slug=w.item.location.slug %}">{{w.item.location}}</a> - {{w.item.start}} to {{w.item.end}}</p>

<p>
{{w.item.description}}
</p>

<p>
{{w.item.abstract}}
</p>
</div>


{% endblock %}
