{% load url from future %}
<!doctype html>
<head>
    <meta charset="utf-8">
    <title>Volunteer Admin</title>
<style>
body {font-family: helvetica}
div.person {border-bottom: 1px dotted black; padding-left: 3em;}
th {text-align: right;}
li.volist {display: inline; margin-right: 4em;}
@media print
{
div.person {page-break-after:always}
}
</style>
</head>
<body>
<h1>Volunteer Admin</h1>

<ul>
<li><a href="{% url 'volunteerroster' %}">Volunteer Roster</a></li>
</ul>

<ul>
<li><a href="{% url 'volunteersessions' daynumber=1 %}">Thursday Sessions</a></li>
<li><a href="{% url 'volunteersessions' daynumber=2 %}">Friday Sessions</a></li>
<li><a href="{% url 'volunteersessions' daynumber=3 %}">Saturday Sessions</a></li>
<li><a href="{% url 'volunteerworkshops' %}">Free Workshop Helps</a></li>
</ul>
<ul>
<li><a href="{% url 'volunteerevents' %}">All other volunteer events</a></li>
</ul>



</body>
</html>
