<!doctype html>
{% load programme_tags %}
<head>
    <meta charset="utf-8">
    <title>Volunteer Roster</title>
<style>
body {font-family: helvetica}
div.person {border-bottom: 1px dotted black; padding-left: 3em;}
th {text-align: right;}
li.volist {display: inline; margin-right: 4em;}
@media print
{
div.person {page-break-after:always}
}
</style>
</head>
<body>
<h1>Volunteer Roster</h1>

{% for person in vdata %}
<div class="person">
<h2>{{person.0}} working {{person.0.helptime|timedelta}}</h2>
{% if person.0.notes %}
<h3>Notes</h3>
<pre>
{{person.0.notes}}
</pre>
{% endif %}
<h3>Activities</h3>
<table>
{% for activity in person.1 %}
<tr><th>{{activity.start|date:"l jS P"}}</th><td>{{activity.title}} ({% if activity.location %}{{activity.location}}, {% endif %}{{activity.duration|timedelta}})</td></tr>
{% endfor %}
</table>

</div>
{% endfor %}

</body>
</html>
