<!doctype html>
<head>
    <meta charset="utf-8">
    <title>Volunteer Workshop Details</title>
<style>
body {font-family: helvetica}
div.ws {border-bottom: 1px dotted black; padding-left: 3em;}
th {text-align: right;}
li.volist {display: inline; margin-right: 4em;}
</style>
</head>
<body>
<h1>Community Workshop Helpers</h1>

{% regroup cws by start as cws_list %}
{% for start in cws_list %}
<h2>{{start.grouper|date:"l jS P"}}</h2>
{% for cw in start.list %}
<div class="ws">
<h3>{{cw.title}}</h3>
<table>
<tr><th>Start:</th><td>{{cw.start}}</td></tr>
<tr><th>End:</th><td>{{cw.end}}</td></tr>
<tr><th>Location:</th><td>{{cw.location}}</td></tr>
<tr><th>Helper:</th><td>{{cw.helper}}</td></tr>
</table>
</div>
{% endfor %}


{% endfor %}

</body>
</html>
