{% load likes_inclusion_tags %}
<div class="popup">
<h1>{% if map.competition != "None" %}{% likes map template='maplikes/inclusion_tags/likes.html' %}{% endif %}<a title="View {{map.format}}" href="{{map.linkto}}" target="_blank">{{map.title}} - {{map.author}}</a>
</h1>
<a title="View {{map.format}}" href="{{map.linkto}}" target="_blank">
<img src="{{archive}}{{map.directory}}/fullsize.jpg" />
</a>
<p>All imagery and files are copyrighted by their owners, used here with permission, and not to be copied or
  redistributed in any way. Unless stated otherwise here or elsewhere, no permission is given to use these map images,
  files, or data in any way.
</p>
</div>
