{% extends "base_wide.html" %}
{% load sekizai_tags %}
{% load likes_inclusion_tags %}
{% load url from future %}
{% block title %}
Map Gallery
{% endblock %}
{% block headcontent %}
{% addtoblock "css" %}
<link href="{{STATIC_URL}}/mapgallery/css/gallery.css" type="text/css" rel="stylesheet">
{% endaddtoblock %}
{% addtoblock "js" %}
<link rel="stylesheet" href="{{STATIC_URL}}/mapgallery/lightbox/jquery.fancybox.css?v=2.1.5" type="text/css" media="screen" />
<script type="text/javascript" src="{{STATIC_URL}}/mapgallery/lightbox/jquery.fancybox.pack.js?v=2.1.5"></script>
{% endaddtoblock %}
	 <div class="span3 hidden-print" id="logo">
	   <a href="/"><img src="{{ STATIC_URL }}booking/images/foss4g2013-white-300.png" /></a>
	 </div>
	 <div class="span9" id="blurb">
	   <h1>{% block tophead %}Map Gallery{% endblock %}</h1>
	   <p>All entries for &ldquo;Opening Up The Map&rdquo; are here. Select any to view in more detail and get a vote button. Select again to go to the linked PDF, web site, movie, or image.</p><p>Most maps are entered in the "People's Map" contest - vote for your favourite.</p><p>All imagery and files are copyrighted by their owners, used here by permission, and not to be copied or
  redistributed in any way. Unless stated otherwise here or elsewhere, no permission is given to use these map images,
  files, or data in any way.</p>
{% if not VOTING %}
<p>See <a href="{% url 'winners'%}">List of Winners</a> (voting is now closed)</p>
{% endif %}
	 </div>
{% endblock %}

{% block content %}

<div id="container" class="jsx-masonry">
{% for map in maps %}
{% if map.format != "HIDE" %}
{% with wins=map.winner.all seconds=map.runnerup.all %}
<div class="map {{ classes|random }}">
{% if wins %}
{% for win in wins %}
<a href="{% url 'winners' %}#prize{{win.id}}winner">
<img class="trophyicon" src="{{STATIC_URL}}/mapgallery/trophy.png" title="Winner: {{win.title}}">
</a>
{% endfor %}
{% endif %}
{% if seconds %}
{% for second in seconds %}
<a href="{% url 'winners' %}#prize{{second.id}}second">
<img class="trophyicon" src="{{STATIC_URL}}/mapgallery/trophy-silver.png" title="Runner-up: {{second.title}}">
</a>
{% endfor %}
{% endif %}
<h1><a class="fancybox fancybox.ajax" href="{% url 'mapmodal' idcode=map.id %}">{{map.title}}</a></h1>
<a class="fancybox fancybox.ajax" href="{% url 'mapmodal' idcode=map.id %}"><img src="{{archive}}{{map.directory}}/thumb.jpg" /></a>
<h2>{{map.author}}</h2>
</div>
{% endwith %}
{% endif %}
{% endfor %}
</div>


<script src="{{ STATIC_URL }}/mapgallery/js/jquery.isotope.min.js"></script>
<script>
$( window ).load(function() {
$('#container').isotope({ itemSelector : '.map',
  layoutMode : 'masonry'});
});
$('a.liker').live('click', function(event){
event.preventDefault();
var r=confirm("Register vote? (Cannot be undone)");
if (r==true)
  {
    var el = $(this);
    var replace_selector = el.attr('replace_selector');
    if (!replace_selector)
        var replace_target = el.parents('.likes:first');
    else
        var replace_target = $(replace_selector);
    $.get(el.attr('href'), {}, function(data){
        replace_target.html('<div class="likes" title="Vote Registered!"><span class="voted">Voted</span></div>'); 
    });
};
});

$(document).ready(function() {
		$(".fancybox").fancybox();
	});
</script>


{% endblock %}

{% block extra_foot %}
Some icons by <a href="http://p.yusukekamiyamane.com">Yusuke Kamiyamane</a>. Licensed under a Creative Commons Attribution 3.0 License.
{% endblock %}
