{% extends "base_wide.html" %}
{% load sekizai_tags %}
{% load likes_inclusion_tags %}
{% load url from future %}
{% block title %}
Map Gallery
{% endblock %}
{% block headcontent %}
{% addtoblock "css" %}
<link href="{{STATIC_URL}}/mapgallery/css/gallery.css" type="text/css" rel="stylesheet">
{% endaddtoblock %}
{% addtoblock "js" %}
<link rel="stylesheet" href="{{STATIC_URL}}/mapgallery/lightbox/jquery.fancybox.css?v=2.1.5" type="text/css" media="screen" />
<script type="text/javascript" src="{{STATIC_URL}}/mapgallery/lightbox/jquery.fancybox.pack.js?v=2.1.5"></script>
{% endaddtoblock %}
	 <div class="span3 hidden-print" id="logo">
	   <a href="/"><img src="{{ STATIC_URL }}booking/images/foss4g2013-white-300.png" /></a>
	 </div>
	 <div class="span9" id="blurb">
	   <h1>{% block tophead %}Map Gallery{% endblock %}</h1>
	   <p>All entries for &ldquo;Opening Up The Map&rdquo; are here. Select any to view in more detail and get a vote button. Select again to go to the linked PDF, web site, movie, or image. You may vote for as many maps as you like, but votes cannot be undone.</p>
	 </div>
{% endblock %}

{% block content %}

<div id="container" class="jsx-masonry">
{% for map in maps %}
<div class="map {% cycle 'c1' 'c2' %}">
<h1><a class="fancybox fancybox.ajax" href="{% url 'mapmodal' idcode=map.id %}">{{map.title}}</a></h1>
<a class="fancybox fancybox.ajax" href="{% url 'mapmodal' idcode=map.id %}"><img src="{{archive}}{{map.directory}}/thumb.jpg" /></a>
<h2>{{map.author}}</h2>
</div>
{% endfor %}
</div>


<script src="{{ STATIC_URL }}/mapgallery/js/jquery.isotope.min.js"></script>
<script>
$( window ).load(function() {
$('#container').isotope({ itemSelector : '.map',
  layoutMode : 'masonry'});
});
$('a.liker').live('click', function(event){
event.preventDefault();
var r=confirm("Register vote? (Cannot be undone)");
if (r==true)
  {
    var el = $(this);
    var replace_selector = el.attr('replace_selector');
    if (!replace_selector)
        var replace_target = el.parents('.likes:first');
    else
        var replace_target = $(replace_selector);
    $.get(el.attr('href'), {}, function(data){
        replace_target.html('<div class="likes" title="Vote Registered!"><span class="voted">Voted</span></div>'); 
    });
};
});

$(document).ready(function() {
		$(".fancybox").fancybox();
	});
</script>


{% endblock %}
